* {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-inline-end: 0;
}
body {
  margin: auto;
  max-width: 100%;
}
.container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    background-color: blue;
    color: white;
    padding: 5px;
    font-size: 40px;
    padding: 30px;
    box-shadow: 2px 2px 2px black;
    border: 2px solid black;
  }
  .venue {
    font-size: 40px;
    margin-right: 30%;
  }
  .nav-bar {
    a {
      font-size: 20px;
      color: black;
      text-decoration: none;
      padding: 5px 30px;
    }

    padding-left: 0;
    li {
      display: inline-block;
      &:hover {
        .drowp {
          position: absolute;
          display: block;
          background-color: white;
        }
      }
      .drowp {
        display: none;
        a {
          display: block;
        }
      }
    }
  }
}
.header {
  padding-left: 10%;
  padding-top: 10%;
  background: {
    image: url("img/mountain.jpg");
    repeat: no-repeat;
    size: cover;
  }
  height: fit-content;
  .content {
    color: white;
  }
  .content1 {
    border-bottom: 6px solid blue;
    width: 7%;
  }
  .content2 {
    font-size: 50px;
  }
  .content3 {
    font-size: 25px;
  }
  .content4 {
    background-color: blue;
    color: white;
    padding: 15px;
  }
}
.input {
  padding-top: 11%;
  display: flex;
  justify-content: center;
  align-items: center;

  .inp2 {
    padding: 20px 30px;
    border-bottom: 10px solid blue;
  }
  .inp3 {
    padding: 20px 30px;
    border: 5px solid white;
    color: white;
    background-color: blue;
  }
}

.title {
  text-align: center;
  padding-top: 10px;
  .title1 {
    color: blue;
  }
  .title2 {
    font-size: 30px;
  }
}
.section {
  .flex {
    display: flex;

    max-width: 100%;

    .flex-flex {
      display: flex;
      padding-top: 70%;
    }
    .text-text {
      color: white;
    }

    .plus {
      color: white;
      font-size: 30px;
      padding-left: 20%;
    }
    .plus2 {
      border: 5px solid white;
      padding: 10px;
    }
  }

  .image {
    background-image: url("img/firework1.jpg");
    width: 16.6666%;
    background-size: cover;

    border-radius: 5px;
    margin-left: 5px;
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle2 {
    color: grey;
    padding: 15px;
    margin: 5px;
    background-color: grey;
    border-radius: 50%;
    border: 2px solid grey;
  }
  .circle2:hover {
    background-color: blue;
  }
}
.section2 {
  background-color: grey;
  .title-sec {
    text-align: center;
    padding-top: 50px;
  }
  .container-picz {
    display: flex;
    max-width: 100%;
  }
  .cont-picz {
    width: 33.3333%;
    position: relative;
    padding: 40px;
  }
  .img-fire {
    width: 100%;
    height: 200px;
    border: 1px solid grey;
  }
  .star {
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
  }
  .august {
    position: absolute;
    border-radius: 50%;
    background-color: blue;
    color: white;
    padding: 15px 20px;
    top: 10%;
    right: 10%;
  }
  .lorem {
    background-color: white;
    padding-left: 20px;
    height: 150px;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
  }
  .category {
    color: blue;
  }
  .category2 {
    color: grey;
  }
  .flex-flex2 {
    display: flex;
    width: 100%;
    text-align: center;
  }
  .border-border {
    width: 50%;
    border: 2px solid grey;
    background-color: white;
    color: grey;
  }
}
.service {
  text-align: center;
  padding-top: 100px;
  .service1 {
    color: blue;
  }
  .service2 {
    font-size: 40px;
  }
  .full-bord {
    border: 2px solid black;
    max-width: 100%;
    padding-top: 40px;
  }
}
.container-flex {
  display: flex;

  border-bottom: 4px solid grey;
  margin-left: 70px;
  margin-right: 70px;
}
.full-bord2 {
  border: 2px solid grey;
  border-radius: 10px;
  width: 33.3333%;
  text-align: center;
  padding-top: 10px;
  margin: 40px;
  .bullseye {
    font-size: 40px;
    color: blue;
  }
  .etiam {
    color: grey;
    padding-top: 10px;
  }
  .high {
    padding-top: 20px;
  }
}
.container-bio {
  display: flex;
  padding: 100px;
  .bio-box {
    width: 50%;
  }
  .box-title {
    color: grey;
  }
  .discover {
    background-color: blue;
    color: white;
    padding: 10px 20px;
  }
  .bio-box2 {
    width: 50%;
    height: fit-content;
  }
  .bio-box3 {
    border: 2px solid grey;
    margin-right: 40%;
    display: flex;
    padding: 5px;
  }
  .ball {
    color: grey;
    margin-left: auto;
  }
  .ball:hover {
    color: blue;
  }
}
.pricing-tables {
  text-align: center;
  padding-top: 40px;
  .pricing-tables2 {
    color: blue;
    font-size: 25px;
  }
  .pricing-tables3 {
    font-size: 40px;
  }
}
.pricing-container {
  display: flex;
  max-width: 100%;

  height: fit-content;

  .pricing-bio3 {
    width: 33.3333%;
    margin: 5%;
    border-radius: 10px;

    text-align: center;
    background-color: rgb(98, 98, 238);
    color: white;
  }
  .pricing-bio2 {
    text-align: center;
    background-color: rgb(241, 222, 222);
    color: black;
    border-radius: 0 0 10px 10px;
  }
  .buy-it {
    color: white;
    background-color: blue;
    padding: 10px;
    margin-bottom: 15px;
  }
}
.map-cont {
  text-align: center;
  padding-top: 30px;
  .contact-us {
    color: blue;
  }
  .button-talk {
    background-color: blue;
    color: white;
    padding: 10px 20px;
  }
}

.container-full3 {
  display: flex;
  max-width: 100%;
  padding-top: 50px;
  background-color: whitesmoke;
  .cont-full4 {
    width: 33.3333%;
    margin: 50px;
  }
  .venue2 {
    color: blueviolet;
    font-size: 40px;
  }
  .social {
    color: grey;
  }
  .social2 {
    color: grey;
    font-size: 30px;
  }
  .usefull {
    text-align: center;
    font-size: 40px;
    color: indigo;
  }
}
.cont-full-flex {
  display: flex;
}
.useful-title {
  padding-left: 15%;
  color: grey;
  .diamond {
    color: blue;
  }
}
.contact-inf {
  color: grey;
}
.usefull5 {
  font-size: 40px;
  color: indigo;
}
.contact-add {
  color: grey;
  .contact-numb {
    color: blue;
  }
}

.footer {
  background-color: rgba(128, 128, 128, 0.644);
  text-align: center;
  font-size: 20px;
  .footer2 {
    color: blue;
  }
}

@media (min-width: 320px) and (max-width: 800px) {
  ul {
    display: none;
  }
  .input {
    margin: 0;
    padding: 0;
    input {
      width: 100%;
    }
    flex-direction: column;
  }
  .flex {
    flex-direction: column;
    .image {
      width: 100%;

      margin-top: 10px;
    }
  }

  .circle2 {
    display: none;
  }
  .cont-picz {
    display: none;
  }
  .title-sec {
    display: none;
  }
  .container-flex{
    flex-direction: column;
    align-items: center;
    .full-bord2{
      width: 100%;
      
    }
  }
  .container-bio{
    flex-direction: column;
    .bio-box{
      width: 100%;
      padding-bottom: 40px;
    }
    .bio-box2{
      width: 100%;
    }
  }
  .pricing-container{
    flex-direction: column;
    .pricing-bio3{
      width: 90%;
    }
  }
  .container-full3{
    flex-direction: column;
    text-align: center;
    .cont-full4{
      width: 100%;
    }
  }
  .useful-title{
    display: none;
  }
  .usefull{
    display: none;
  }
  
}




